<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>HBPackageIdentifier</key>
		<string>ws.hbang.typestatusplusslackprovider</string>
		<key>HBTSApplicationBundleIdentifier</key>
		<string>com.tinyspeck.chatlyio</string>
		<key>HBTSKeepApplicationAlive</key>
		<false/>
		<key>NSPrincipalClass</key>
		<string>HBTSPlusSlackProvider</string>
	</dict>
</plist>
