<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleIdentifier</key>
		<string>ws.hbang.typestatusplustwitterprovider</string>
		<key>HBTSApplicationBundleIdentifier</key>
		<string>com.atebits.Tweetie2</string>
		<key>HBTSKeepApplicationAlive</key>
		<true/>
		<key>NSPrincipalClass</key>
		<string>HBTSPlusTwitterProvider</string>
	</dict>
</plist>
