<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>height</key>
			<integer>175</integer>
			<key>icon</key>
			<string>hbangheader.png</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSPlusTwitterCell</string>
			<key>label</key>
			<string>HASHBANG Productions</string>
			<key>user</key>
			<string>hbangws</string>
			<key>height</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSPlusTwitterCell</string>
			<key>label</key>
			<string>Ben Rosen</string>
			<key>user</key>
			<string>benmrosen</string>
			<key>big</key>
			<true/>
			<key>height</key>
			<integer>60</integer>
			<key>developer</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSPlusTwitterCell</string>
			<key>label</key>
			<string>Adam Demasi (kirb)</string>
			<key>user</key>
			<string>hbkirb</string>
			<key>big</key>
			<true/>
			<key>height</key>
			<integer>60</integer>
			<key>developer</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSPlusTwitterCell</string>
			<key>label</key>
			<string>Veerklempt</string>
			<key>user</key>
			<string>veerklempt</string>
			<key>big</key>
			<true/>
			<key>height</key>
			<integer>60</integer>
			<key>developer</key>
			<false/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTSPlusTwitterCell</string>
			<key>label</key>
			<string>Timon Olsthoorn</string>
			<key>user</key>
			<string>tmnlsthrn</string>
			<key>big</key>
			<true/>
			<key>height</key>
			<integer>60</integer>
			<key>developer</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>height</key>
			<integer>100</integer>
			<key>icon</key>
			<string>headerlogo.png</string>
			<key>id</key>
			<string>VersionGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>title</key>
	<string>ABOUT</string>
</dict>
</plist>
