<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ALERT_TYPE</string>
			<key>footerText</key>
			<string>ALERT_TYPE_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>ws.hbang.typestatusplus</string>
			<key>key</key>
			<string>GlobalAlertType</string>
			<key>validTitles</key>
			<array>
				<string>ALERT_TYPE_ICON</string>
				<string>ALERT_TYPE_OVERLAY</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.typestatusplus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SHOW_IN_FOREGROUND_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.typestatusplus</string>
			<key>key</key>
			<string>ShowInForeground</string>
			<key>label</key>
			<string>SHOW_IN_FOREGROUND</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatusplus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WAKE_WHEN_LOCKED_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatusplus</string>
			<key>key</key>
			<string>WakeWhenLocked</string>
			<key>label</key>
			<string>WAKE_WHEN_LOCKED</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatusplus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>ws.hbang.typestatusplus</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>TapToOpenMode</string>
			<key>label</key>
			<string>TAP_TO_OPEN_ACTION</string>
			<key>validTitles</key>
			<array>
				<string>OFF</string>
				<string>TAP_TO_OPEN_ACTION_OPEN</string>
				<string>TAP_TO_OPEN_ACTION_DISMISS</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.typestatusplus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VIBRATIONS</string>
			<key>requiredCapabilities</key>
			<array>
				<string>VibratorCapability</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.typestatusplus</string>
			<key>key</key>
			<string>VibrationOnLockScreen</string>
			<key>label</key>
			<string>ON_LOCK_SCREEN</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatusplus/ReloadPrefs</string>
			<key>requiredCapabilities</key>
			<array>
				<string>VibratorCapability</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatusplus</string>
			<key>key</key>
			<string>VibrateInApps</string>
			<key>label</key>
			<string>IN_APPS</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatusplus/ReloadPrefs</string>
			<key>requiredCapabilities</key>
			<array>
				<string>VibratorCapability</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>InsertBulletinBoardSpecifiers</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>ws.hbang.typestatusplus</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>UseAppIcon</string>
			<key>label</key>
			<string>ICON</string>
			<key>staticTextMessage</key>
			<string>ICON_EXPLANATION</string>
			<key>validTitles</key>
			<array>
				<string>TypeStatus Plus</string>
				<string>APP_ICON</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.typestatusplus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>ws.hbang.typestatusplus</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>KeepAllBulletins</string>
			<key>label</key>
			<string>KEEP_BULLETINS</string>
			<key>staticTextMessage</key>
			<string>KEEP_BULLETINS_EXPLANATION</string>
			<key>validTitles</key>
			<array>
				<string>KEEP_BULLETINS_ONE</string>
				<string>KEEP_BULLETINS_ALL</string>
				<string>KEEP_BULLETINS_FOREVER</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.typestatusplus/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>ALERTS</string>
</dict>
</plist>
