<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSPlusConfigurationGeneralListController</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSPlusConfigurationWhatsappListController</string>
			<key>label</key>
			<string>Whatsapp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSPlusConfigurationSkypeListController</string>
			<key>label</key>
			<string>Skype</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSPlusConfigurationMessengerListController</string>
			<key>label</key>
			<string>Messenger</string>
		</dict>
	</array>
	<key>title</key>
	<string>Configuration</string>
</dict>
</plist>
