<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
		    <key>big</key>
		    <true/>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>height</key>
		    <integer>56</integer>
		    <key>label</key>
		    <string>HASHBANG Productions</string>
		    <key>user</key>
		    <string>hbangws</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developers</string>
		</dict>
		<dict>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>label</key>
		    <string>Adam Demasi (kirb)</string>
		    <key>user</key>
		    <string>hbkirb</string>
		</dict>
		<dict>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>label</key>
		    <string>Ben Rosen</string>
		    <key>user</key>
		    <string>benr9500</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Designers</string>
		</dict>
		<dict>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>label</key>
		    <string>Timon Olsthoorn</string>
		    <key>user</key>
		    <string>tmnlsthrn</string>
		</dict>
		<dict>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>label</key>
		    <string>Kyle Lee</string>
		    <key>user</key>
		    <string>krevony</string>
		</dict>
	</array>
	<key>title</key>
	<string>Credits</string>
</dict>
</plist>
