<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>BANNERS_EVERYWHERE_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.typestatusplus</string>
			<key>key</key>
			<string>ShowNotificationsEverywhere</string>
			<key>label</key>
			<string>BANNERS_EVERYWHERE</string>
			<key>icon</key>
			<string>notif.png</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatusplus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>USE_TSP_ICON_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.typestatusplus</string>
			<key>key</key>
			<string>UseTSPIcon</string>
			<key>label</key>
			<string>USE_TSP_ICON</string>
			<key>icon</key>
			<string>bannericon.png</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatusplus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SHOW_COUNT_FOR_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<true/>
			<key>icon</key>
			<string>count</string>
			<key>label</key>
			<string>SHOW_COUNT_FOR</string>
			<key>ALChangeNotification</key>
			<string>ws.hbang.typestatusplus/ReloadPrefs</string>
			<key>ALSettingsDefaultValue</key>
			<string>com.apple.MobileSMS</string>
			<key>ALSingleEnabledMode</key>
			<true/>
			<key>ALSettingsKey</key>
			<string>UnreadNotificationAppBundleIdentifier</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/ws.hbang.typestatusplus.plist</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>HAPTIC_FEEDBACK_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatusplus</string>
			<key>key</key>
			<string>HapticFeedback</string>
			<key>label</key>
			<string>HAPTIC_FEEDBACK</string>
			<key>icon</key>
			<string>haptic.png</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatusplus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SHOW_IN_FOREGROUND_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.typestatusplus</string>
			<key>key</key>
			<string>ShowInForeground</string>
			<key>label</key>
			<string>SHOW_IN_FOREGROUND</string>
			<key>icon</key>
			<string>foregroundnc.png</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatusplus/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>GENERAL</string>
</dict>
</plist>
