<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>height</key>
			<integer>175</integer>
			<key>icon</key>
			<string>header.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.typestatusplus</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>icon</key>
			<string>enable.png</string>
			<key>PostNotification</key>
			<string>ws.hbang.typestatusplus/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSPlusProvidersListController</string>
			<key>icon</key>
			<string>providers.png</string>
			<key>label</key>
			<string>PROVIDERS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSPlusGeneralListController</string>
			<key>icon</key>
			<string>advanced.png</string>
			<key>label</key>
			<string>GENERAL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>fromTypeStatus</key>
			<true/>
			<key>id</key>
			<string>AlertsCell</string>
			<key>icon</key>
			<string>notif.png</string>
			<key>label</key>
			<string>ALERTS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSPlusAboutListController</string>
			<key>icon</key>
			<string>makers.png</string>
			<key>label</key>
			<string>ABOUT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>SUPPORT</string>
			<key>icon</key>
			<string>support.png</string>
			<key>action</key>
			<string>showSupportEmailController</string>
		</dict>
	</array>
	<key>title</key>
	<string>Plus</string>
</dict>
</plist>
