<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
		    <key>cell</key>
		    <string>PSGroupCell</string>
		    <key>headerCellClass</key>
		    <string>HBPackageNameHeaderCell</string>
		    <key>packageIdentifier</key>
		    <string>ws.hbang.typestatusplus</string>
		    <key>showVersion</key>
		    <false/>
		    <key>bigBeautifulBanner</key>
		    <true/>
		    <key>firstColor</key>
		    <string>#67bde2</string>
		    <key>secondColor</key>
		    <string>#51b4de</string>
		    <key>thirdColor</key>
		    <string>#28a1d4</string>
		    <key>fourthColor</key>
		    <string>#2491bf</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Configuration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSPlusConfigurationGeneralListController</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>ProvidersGroupCell</string>
			<key>label</key>
			<string>Providers</string>
			<key>footerText</key>
			<string>These providers allow developers (including HASHBANG) to add support to TypeStatus Plus.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>ProvidersNoneInstalledGroupCell</string>
			<key>label</key>
			<string>Providers</string>
			<key>footerText</key>
			<string>View Cydia or the HASHBANG website to find and install providers for TypeStatus Plus!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBTSPlusAboutListController</string>
			<key>label</key>
			<string>About</string>
		</dict>
	</array>
	<key>title</key>
	<string>TypeStatus Plus</string>
</dict>
</plist>
