<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>HBPackageIdentifier</key>
		<string>ws.hbang.typestatusplusskypeprovider</string>
		<key>HBTSApplicationBundleIdentifier</key>
		<array>
			<string>com.skype.skype</string>
			<string>com.skype.SkypeForiPad</string>
		</array>
		<key>HBTSKeepApplicationAlive</key>
		<true/>
		<key>NSPrincipalClass</key>
		<string>HBTSPlusSkypeProvider</string>
	</dict>
</plist>
