<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15B42</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>hkfjgdkghdg</string>
	<key>CFBundleExecutable</key>
	<string>hkfjgdkghdg WatchKit 1 App</string>
	<key>CFBundleIdentifier</key>
	<string>ws.hbang.hkfjgdkghdg.watchkitapp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>hkfjgdkghdg WatchKit 1 App</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneSimulator</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphonesimulator</string>
	<key>DTPlatformVersion</key>
	<string>9.0</string>
	<key>DTSDKBuild</key>
	<string>13A340</string>
	<key>DTSDKName</key>
	<string>iphonesimulator9.0</string>
	<key>DTXcode</key>
	<string>0700</string>
	<key>DTXcodeBuild</key>
	<string>7A220</string>
	<key>MinimumOSVersion</key>
	<string>8.2</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>4</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>WKCompanionAppBundleIdentifier</key>
	<string>ws.hbang.hkfjgdkghdg</string>
	<key>WKWatchKitApp</key>
	<true/>
</dict>
</plist>
